[Unit]
Description=Waveshare Rover Controller
After=bluetooth.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/RPiCar
ExecStart=/home/admin/RPiCar/venv/bin/python src/main.py
Restart=always
RestartSec=3
SupplementaryGroups=dialout,input,bluetooth

[Install]
WantedBy=multi-user.target