[Unit]
Description=Waveshare Rover Web Interface
After=bluetooth.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/RPiCar
ExecStart=/home/admin/RPiCar/venv/bin/python /home/admin/RPiCar/src/server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target